<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>

<h2>Student Form</h2>

<form>
    ชื่อ: <input type="text" name="name"><br><br>

    เพศ:
    <input type="radio" name="gender"> ชาย
    <input type="radio" name="gender"> หญิง
    <br><br>

    วิชาที่ชอบ:
    <input type="checkbox"> Programming
    <input type="checkbox"> Database
    <input type="checkbox"> Network
    <br><br>

    จังหวัด:
    <select>
        <option>กรุงเทพ</option>
        <option>ชลบุรี</option>
        <option>ระยอง</option>
    </select>

    <br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>